.ee-setting-row {
	display: flex;
	padding: 10px 0;
}

.ee-setting-row.is-not-checkbox {
	/* flex-direction:row-reverse; */
	/* justify-content: flex-end;
	align-items: center; */
	flex-wrap:wrap;
}

.ee-page-wrap .is-not-checkbox .description-container {
	width: 100%;
	margin-bottom:15px;
}

/* .ee-page-wrap .is-not-checkbox .description-container h3 {
	font-size:14px;
} */

.ee-page-wrap .is-not-checkbox .input-container {
	width: 100%;
	margin-bottom:7px;
}

.ee-page-wrap .is-not-checkbox .input-container > input {
	width: 100%;
	max-width:500px;
}

.ee-setting-row.dependent {
	padding-left: 50px;
}

.ee-page-wrap h3,
.ee-page-wrap p {
	font-size:16px;
	margin:0;
	padding:0;
	line-height:1.5;
}

.ee-page-wrap .input-container {
	width: 50px;
}

.ee-page-wrap .description-container {
	width:100%;
}

p.submit {
	margin-top: 30px;
}

hr {
	margin: 25px 0 35px;
}

/*

Home

*/
/*

Framework

*/

/* Container */
div.ee-wrapper {
	margin-bottom:35px;
	position: relative;
}



div.ee-wrapper h2,
div.ee-wrapper h3,
div.ee-wrapper h4,
div.ee-wrapper h5,
div.ee-wrapper h6 {
	line-height:1.5;
}

div.ee-wrapper h2:not(:first-child),
div.ee-wrapper h3:not(:first-child),
div.ee-wrapper h4:not(:first-child),
div.ee-wrapper h5:not(:first-child),
div.ee-wrapper h6:not(:first-child) {
	margin-top:35px;
}

div.ee-wrapper p {
	font-size:16px;
	margin:15px 0;
}

div.ee-wrapper ul {
	list-style:inside;
	margin-left:10px;
}

div.ee-wrapper li {
	font-size:14px;
}

.ee-main-content {
	width: calc(100% - 400px);
}

.ee-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background: white;
	padding: 15px 30px 30px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.15);
}

.ee-sidebar form textarea {
	width: 100%;
	resize: vertical;
	height: 60px;
	margin-bottom: 7px;
}

input#copyTarget {
	position:fixed;
	right:-99999px;
}

.ee-sidebar-button {
	/* width: 100%; */
	align-items: center;
	display: flex;
	color: white!important;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 8px 15px;
	margin-bottom: 8px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	cursor:pointer;
	text-decoration:none;
}

a.ee-siebar-button:hover {
	color:white!important;
}

.ee-sidebar-button svg {
	width: 18px;
	margin-right: 10px;
}

.ee-facebook {
	background: #4267B2;
	margin-top:15px;
}

.ee-facebook:hover {
	background:#486fbd;
}

.ee-product {
	background:#5fb529;
}

.ee-product:hover {
	background:#6ec736;
}

@media screen and (max-width:1080px) {
	.ee-main-content {
		width:100%;
	}

	.ee-sidebar {
		position: relative;
		width: calc(100% - 62px);
		margin-top:35px;
	}
}

/*

License and Nav

*/
.save-and-clear-license-row {
	margin-top:20px;
	display:flex;
}

.save-and-clear-license-row p.submit {
	padding:0;
	margin:0 10px 0 0;
}

p.license-status {
	font-size:14px;
}

p.license-status.active-license {
	background: #98f798;
	display: inline-block;
	padding: 6px 16px;
	border-radius: 20px;
	font-size: 16px;
	color: #000;
}

.nav-tab-wrapper {
	margin-bottom: 10px;
}


/*

Issue Reporting

*/
.issue-reporting-toggler {
	display: flex;
	align-items: center;
	background: white;
	padding: 12px 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
	cursor:pointer;
	transition:0.2s;
}

.issue-reporting-toggler:hover {
	background:#fcfcfc;
}

.issue-reporting-toggler svg {
	width: 12px;
	height: 12px;
	border: 2px solid;
	border-radius: 15px;
	padding: 3px;
	color: #de7878;
}

.issue-reporting-toggler h3 {
	margin:0 0 0 8px!important;
	font-size: 18px;
}

.issue-reporting-content h3:first-child {
	margin-top:0!important;
}

.issue-reporting-content {
	display:none;
	padding:15px 20px;
	background:white;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.issue-reporting-content p {
	font-size:14px;
}

.issue-reporting-content ul {
	list-style: disc;
	padding: 0 25px;
	font-size: 14px;
}

.issue-reporting-content h3 {
	margin-top:35px;
}

.issue-reporting-content .system-information {
	margin-top:15px;
	padding:15px;
	border:1px solid #777;
	background:#ddd;
	border-radius:4px;
	overflow-wrap: anywhere;
}